@import 'tailwindcss';

body {
    background-image: url('./public/background.png');
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;   
}

div#root {
    display: flex;
    justify-content: center;
    align-items: center;  
}

h1 {
    font-family: 'Jersey 10', sans-serif;
    color: white; 
    -webkit-text-stroke: 0.03em black; 
    font-size: 9em;
    text-align: center;
}

.nes-container.is-rounded {
    background-color: white;
    height: 85vh;
    display: flex;
    align-items: center;  
    flex-direction: column;
}

.is-skinny {
    aspect-ratio: 0.8/1;
}

.is-wide {
    width: 85vw;
    max-width: 900px;
}

.nes-btn {
    font-family: 'Jersey 10', sans-serif;
    font-size: 3em;
}

.nes-btn.blue-btn {
    color: white;
    background-color: #5A8096;
    box-shadow: aqua;
}

.nes-btn.white-btn {
    color: #5A8096;
    background-color: white;
    border-color: #5A8096;
}

.menu-button {
    width: 30vw;
    max-width: 250px;
}

#menu-hearts {
    margin-top: -12%;
    padding-bottom: 7%;
    width: 70%;
}

#how-to-play {
    font-size: 6em;
}
