@import 'tailwindcss';
body {
    background-image: url('./public/background.png');
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    font-family: 'Jersey 10', sans-serif;
    color: white; 
    -webkit-text-stroke: 1.5px black; 
    font-size: 10em;
    text-align: center;
}